* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

html {
    background-color: white;
	background-image: url(https://www.endicottresearchcenter.net/csc102/midterm/images/tile_shamrock.jpg);
    background-size: cover;

    }

    body {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 100%;
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        border: 3px solid white; 
        background-color: white;
       
    } 

    h1 {
        font-size: 300%;
        color: lightgreen;
        text-align: center;
        margin: 10px 0 0;
        font-variant: small-caps;
        text-shadow: 1px 1px 2px #000000, -1px -1px 2px #000000, 1px -1px 2px darkgreen;
    }

    h2 {
        color: darkgreen;
        font-size: 150%;
        text-align: center;
        font-variant: small-caps;
    }

    h3 {
        font-size: 150%;
        color: black;
        text-align: center;
        padding: 2px;
        padding: 1em;
    
    }
    h4 {
        font-size: 300%;
        color: lightgreen;
        text-align: center;
        padding: 2px;
        font-variant: small-caps;
        text-shadow: 1px 1px 2px #000000, -1px -1px 2px #000000, 1px -1px 2px darkgreen;
    }

    p {
        text-align: center;
    }
   
    


    header {
        padding: .75em;	
        background-image: linear-gradient(45deg, green 0%, white 50%, green 100%);
    }

    header img {
        float: left;
        max-width: 100px;
        width: 100%;
        margin-right: 1em
    }

    section {
        background-image: linear-gradient(45deg, orange 0%, white 50%, darkgreen 100%);
    }

    .navigationmenu {
        display: flex;
        list-style: none;
    }
    
    .navigationmenu li {
        flex: 1
    }
    .navigationmenu li a {
        display: block;
        text-align: center;
        padding: .5em 0;
        text-decoration: none;
        color: white;
        background-color: green;
        font-weight: bold;
        transition: all 1s;
    }
    .navigationmenu li a:hover {
        background-color: lightgreen;
        color: black;
        padding: .5em 0 .5em 1.5em;
        text-decoration: underline;
    }
    footer {
        padding: .75em;	
        background-image: linear-gradient(45deg, green 0%, white 50%, green 100%);
    }
  #spence {
    display: block;
    margin-left: auto;
   margin-right: auto;
   width: 50%;
   padding-top: 1em;
   padding-bottom: 1em;
  }

  
  @media only screen and (max-width: 767px) {
        
    #nav_menu {
        width:auto;
        font-size: 75%;
    }

    h1 {
        font-size: 200%;
    }

    h2 {
        font-size: 150%;
    }

    h3 {
        font-size: 150%;
    }
    h4 {
        font-size: 100%;
    }
}
  /* Create four equal columns that sits next to each other */

 